<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/imaddresss/favicon.ico}" type="imaddress/x-icon"/>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
</head>

<body>

<div class="contentDiv">
    <!--style="width:50%; margin:0 auto" 占据屏幕50%，居中显示-->
    <table class="table table-hover table-condensed" style="width:80%; margin:0 auto">
        <legend>
            <strong>用户列表</strong>
        </legend>
        <thead>
        <tr>
            <th>用户id</th>
            <th>用户名</th>
            <th>地址</th>
            <th>手机号</th>
            <th>生日</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${userList}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.username}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${#dates.format(user.birth, 'yyyy-MM-dd')}"></td>
            <td><a class="btn btn-danger" th:href="@{/user/del/{userId}(userId=${user.id})}">删除</a>
                <a class="btn btn-danger" th:href="@{/user/edit/{userId}(userId=${user.id})}">修改</a></td>
        </tr>
        </tbody>
        <tr>
            <td><a th:href="@{/user/list?pageIndex=1}">首页</a></td>
            <td th:switch="${pageIndex}">
                <p th:case="1"> <a th:href="@{/user/list?pageIndex=1}">上一页</a></p>
                <p th:case="*"><a th:href="@{/user/list(pageIndex=${pageIndex-1})}">上一页</a></p>
            </td>
            <td th:switch="${pageIndex}">
                <p th:case="${totalPages}"><a th:href="@{/user/list(pageIndex=${totalPages})}">下一页</a></p>
                <p th:case="*"><a th:href="@{/user/list(pageIndex=${pageIndex+1})}">下一页</a></p>
            </td>
            <td><a th:href="@{/user/list(pageIndex=${totalPages})}">尾页</a></td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-sm-2 control-label">
            <a th:href="@{/user/toAdd}" class="btn btn-info">添加用户</a>
        </div>
    </div>
</div>

</body>
</html>